@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&family=Nunito:wght@300&family=Poppins:wght@100;200&family=Roboto:ital,wght@0,500;1,300&display=swap');

* {
    margin:0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

body {  
   display: grid;
   /*grid-template-columns: repeat(3, 1fr);*/
   grid-template-areas: 
   "header header"
   "imagenp imagenp"
   "macetas macetas"
    "escalera macetasVs" 
    "proyecto proyecto"
    "productos publicidad"
   "enlace enlace"
   "footer footer"
   ;
   gap: 10px;
   background: linear-gradient(to right, black, bisque );
}

h1{
    font-size: 3rem;
    color: bisque;
}

h3{
   text-align: center;
}

header{
   display: flex;
   grid-area: header;
   color: bisque;
    background-color: black;
    width: 100%;
    height: 100%;
    /*margin: 1rem;*/
    font-size: small;
    flex-flow: row wrap;
    justify-content: space-around;
    /*padding: 2rem;*/
   align-items:center;
}

.logo {
   display: none;
}


nav a {
    text-decoration: none;
    color: bisque;
    font-size: 15px;
}

 .menu li {
   display: inline-block;
   /* margin-right: 5px;*/
    padding: 10px;

}

/************************ IMAGENES **************************/
 .imagenFolleto{
   grid-area: imagenp;
   width: 100%;
   /*opacity: 0.8;*/
}


.imagenFolleto:hover {
   filter: sepia(60%);
  

}

.imagen {
      display: flex;
      justify-content:center;
      /*flex-wrap:nowrap;*/
      border: 3px black solid;
  
    }
   
    .imagen img {
      width: 80%;
      padding: 1rem;
    }
   
    .macetas {
      grid-area: macetas;
      justify-content: center;
      transition: all 3s ;
    }
   .macetas:hover{
      width: 90%;
   }

    .escalera {
      grid-area: escalera;
    }
   
    .macetasVs {
       
      grid-area: macetasVs;
    }

/************   PUBLICIDAD - PROYECTO -PRODUCTOS *************/

 p {
   background-color: bisque;
   color : black;
   text-align: justify;
}

 .publicidad {
   grid-area: publicidad;
    text-align: center;
    background-color: black ;
    color: bisque;
    padding: 1rem;
 }

 .proyecto{
   grid-area: proyecto;
   /*background-color: aquamarine;*/
   font-family: 'Poppins', sans-serif;
   text-align: center;
   /*font-weight: bold;*/
   font-size: 15px;
   padding: 1rem;
   background: linear-gradient(to right, bisque, black );

}

.productos{
   grid-area: productos;
   text-align: center;
   background: linear-gradient(to right , bisque,black );
   padding: 1rem;
}

.enlaceExterno {
   display: flex;
   grid-area: enlace;
   width: 100%;
   justify-content: space-evenly;
}

/********************* VERSION desktop *********************/
@media (min-width:1024px) {
   .home {
     display: grid;
     grid-template-areas: 
     "header header header"
     "imagenp imagenp imagenp"
     "macetas escalera macetasVs"
     "proyecto proyecto productos"
     "publicidad publicidad publicidad"
     "enlace enlace enlace"
     "footer footer footer"
     ;  
     gap: 20px;
   }

   .nosotrosWeb {
      display: grid;
      grid-template-areas: 
      "header header header"
      "imagenp imagenp nosotros"
      "footer footer footer"
      ;  
      gap: 20px;
    }
    
   header{
      /*display: flex;*/
      /*grid-area: header;*/
      color: bisque;
       background-color: black;
       width: 100%;
       height: 6rem;
       /*margin: 1rem;*/
       
       /*flex-flow: row wrap;*/
       justify-content: space-between;
       /*padding: 2rem;*/
      align-items:center;
   }

   nav a{
      
      text-decoration: none;
      color: bisque;
      font-size: 1rem;
      
  }
  .logo {
   display: flex;
  }

   .imagenLogo {
      /*background-image: url('../img/laclavijalogo.png');*/
       width: 7rem;
       height: 6rem;
       align-content:  stretch;
       list-style-type:none;
   }
   .contenedorContacto h1{
      font-size: 20px;
   }
   .caja {
       
  
      background-color: aquamarine;
     
   }
}  
  
/**************  PIE DE PAGINA   ****************/

#pieDePagina{
   display: flex;
   grid-area: footer;
   background: linear-gradient(to right, black, bisque );
    
    /*text-align: center;*/
    border: 2px black solid;
    justify-content:center;
    align-items: center;

}

#pieDePagina img {
   width: 70px;
   padding: 10px;
   
}

.botonInstagram {
   width: 15%;
   text-align:  left;
}

.botonFacebook {
   width: 15%;
   text-align:  right;
 
}

.botonWhatsapp img {
   position: fixed;
   bottom: 10px;
   right: 10px;
}

/*******   NOSOTROS   ********/
.nosotros{
   /*grid-area: nosotros;*/
   text-align: justify;
}

.imagenfolleto{
   grid-area: imagenp;
}

.quienesSomos{
   grid-area: nosotros;
}


/******* UBICACION  *********/
.llegar{
   
   width: 100%;
   text-align: center;
   /*align-content: center;*/

}

.mapa{
   /*display: flex;*/
   /*width: 100%;*/
   text-align: center;
   /*align-items: center;*/
   margin: 10px;
}

/************ GALERIA  ************/
.contenedorGaleria{
   display: flex;
   flex-wrap: wrap;
   border: 2px bisque solid;
   border-radius: 6px;
   padding: 4px;
   justify-content: space-evenly;
   align-content: center;
}

.contenedor{
   
   filter:brightness(70%);
   justify-items: center;
   border: 2px bisque solid;
   border-radius: 6px;
   margin: 4px;
   
}


/********* CONTACTO ***********/

.contenedorContacto {
   width: 400px;
   
   text-align: center;
   margin-left:  10%;
  justify-content: space-between;
   background-color: black;
  
    color: bisque;
    flex-direction: column; 
    
   border: solid;
}

.caja{
   width: 80%;
   margin-left: 20%;
  margin: 2%;
   text-align: center;
   justify-items: center;
   flex-direction: row;
   padding: 4px;
   
}

.boton{
   width: 80%;
   /*display: inline-block;*/
}

/*********************  SERVICIOS  *********************************/

.servicios{
   margin-left : 10%;   
   width: 90%;
   justify-items:  center;
}


